<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>hello-webapp</display-name>

	<filter>
		<filter-name>FilterExample</filter-name>
		<filter-class>alpha.study.webapp.FilterExample</filter-class>
		<init-param>
			<param-name></param-name>
			<param-value></param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>FilterExample</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>ServletExample</servlet-name>
		<servlet-class>alpha.study.webapp.ServletExample</servlet-class>
		<init-param>
			<param-name></param-name>
			<param-value></param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletExample</servlet-name>
		<url-pattern>/ServletExample</url-pattern>
	</servlet-mapping>
</web-app>
